# ----------------------------------------
# Maven
# ----------------------------------------
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# ----------------------------------------
# Logs
# ----------------------------------------
*.log
*.log.*

# ----------------------------------------
# IntelliJ IDEA
# ----------------------------------------
.idea/
*.iml
*.iws
*.ipr
out/

# ----------------------------------------
# VSCode
# ----------------------------------------
.vscode/

# ----------------------------------------
# OS / System files
# ----------------------------------------
.DS_Store
Thumbs.db